<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="_ADMIN_/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="_ADMIN_/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="_ADMIN_/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="_ADMIN_/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="_ADMIN_/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
<title></title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select class="select" name="live_prov" id="live_prov" onchange="SelProv(this.value,'live');">
					<option value="" selected>请选择省</option>
                    {volist name="list" id="vo"}
					<option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
				</select>
                </span>
            </div>
            <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select class="select" name="live_city" id="live_city" onchange="SelCity(this.value,'live');">
					<option value="" selected>请选择城市</option>
				</select>
                </span>
            </div>
            <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select class="select" name="live_country" id="live_country">
					<option value="" selected>请选择城市</option>

				</select>
                </span>
            </div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="_ADMIN_/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="_ADMIN_/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="_ADMIN_/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="_ADMIN_/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<script type="text/javascript">
function SelProv(val,input){
    var id=val;
    $("#"+input+"_country").html("<option>--</option>");
    $.ajax({
         url : "{:url('getarea')}",
         type:'post',
         data:{id:id},
         success:function(data){
         $("#"+input+"_city").html(data);
         }
     });
}
function SelCity(val,input)
		{
            var id=val;
            $.ajax({
                 url : "{:url('getarea')}",
                 type:'post',
                 data:{id:id},
                 success:function(data){
                $("#"+input+"_country").html(data);
                 }
             });
		}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
